<div class="recommended-profiles">
  <%= button_to lists_path(:username=>"zellie"), method: :create, class: "btn btn-default profile-card" do%>
  <%= image_tag "zellie.jpeg", class:"profile-pic" %>
  <p class="profile-name">Zellie Imani</p>
  <p class="profile-description">All Black Everything. Teacher. Blogger. Activist. Brother. Son.</p>
  <% end %>

  <%= button_to lists_path(:username=>"LibyaLiberty"), method: :create, class: "btn btn-default profile-card" do%>
  <%= image_tag "hend.jpeg",class:"profile-pic" %>
  <p class="profile-name">Hend Amry</p>
  <p class="profile-description">I am East and West, citizen and refugee. The melting pot is a failed paradigm-maybe more like a tossed salad. I am an international crouton.</p>
  <% end %>

  <%= button_to lists_path(:username=>"noahpinion"), method: :create, class: "btn btn-default profile-card" do%>
  <%= image_tag "noah.jpeg", class:"profile-pic" %>
  <p class="profile-name">Noah Smith</p>
  <p class="profile-description">Dual-class Human Economist/Bloomberg View writer</p>
  <% end %>

  <%= button_to lists_path(:username=>"ErinEhyde200"), method: :create, class: "btn btn-default profile-card" do%>
  <%= image_tag "erin.jpeg", class:"profile-pic" %>
  <p class="profile-name">Erin Ehyde</p>
  <p class="profile-description">Happily Married, mother of three amazing kids. Blessed with a wonderful life. Obsessed with politics, love my country, constitution and my fellow man!</p>
  <% end %>
</div>
